#req
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqfname
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqmail
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqnum
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqcaddresslineone
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqcaddresslinetwo
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqcdistrict
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqcpincode
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqpaddresslineone
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqpaddresslinetwo
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqpdistrict
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqppincode
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
.asterisk
{
    color: red;
}
#reqfile
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
#reqdob
{
    color: red;
    visibility: hidden;
    font-size: 12px;
}
